<div class="trade-mark center">
  <%= image_tag "chishaku.png", :alt => "智積", :class=> "logo" %>
  <ul>
    <li>責任者: <%= image_tag "kondohiroyuki.png", :alt => "近藤浩之" %></li>
    <li>所在地: 906-0008 沖縄県宮古島市平良荷川取336-3</li>
    <li>メイル: <%= link_to "info@chishaku.com", "mailto:info@chishaku.com?subject=【トラヴィス ビックル】お問い合わせ" %></li>
  </ul>