<div class="pages">
  <dl>
    <dt>事業者</dt>
    <!-- <dd>高野果樹農業生産法人</dd> -->
    <dd>智積</dd>
    <dt>運営責任者</dt>
    <dd>近藤 浩之</dd>
    <dt>所在地</dt>
    <dd>〒906-0008 沖縄県宮古島市荷川取336-3</dd>
    <dt>メールアドレス</dt>
    <dd><a href="mailto:info@chishaku.com?subject=[トラヴィス] お問い合わせ" target="_blank">info@chishaku.com</a></dd>
    <dt>ホームページ</dt>
    <dd><a href="http://travis-bickle.com/" target="_blank">http://travis-bickle.com/</a></dd>
    <dt>システム利用料</dt>
    <dd>１デバイスあたり月額3,000円</dd>
    <dt>その他付帯する費用</dt>
    <dd>別途消費税8%を申し受けます。</dd>
    <dt>支払い方法</dt>
    <dd>オンラインによるクレジットカード決済</dd>
  </dl>
</div>
