<tr>
  <td><%= check_point.name %></td>
  <td><%= link_to t("link.edit"), edit_check_point_path(check_point), :class => "btn" %></td>
  <td><%= link_to t("link.destroy"), check_point, method: :delete, data: { confirm: t("message.destroy_confirmation") }, :class => "btn" %></td>
</tr>
