/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

body {
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif ,monospace !important;
/* font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif !important; */
/* font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif !important; */
}

.right {
    float: right;
    width: 49%;
    padding-left: 1%;
}

.left {
    float: left;
    width: 49%;
    padding-right: 1%;
}

.clear {
    clear: both;
}

.padding-top {
    padding-top: 60px;
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}

.center {
    text-align:center !important;
}

.middle {
    vertical-align:middle !important;
}

.pagination {
    margin-bottom: 10px !important;
}

.calender {
    margin-top: 0px !important;
}

.calender ul > li > a {
    padding: 4px 5px !important;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
}

div.field, div.actions {
    margin: 20px 0 !important;
}

label, input, button, select, textarea {
    font-size: 17px !important;
}

input[type="search"] {
    margin-bottom: 0px !important;
}

footer {
    width: 100%;
    text-align: center;
}