/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

/* bootstrap override  */

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1170px !important;
}

.navbar-text {
    font-size: 13px !important;
}

.navbar-text {
    margin-left: 10px !important;
}

.pagination {
    margin-bottom: 10px !important;
}

.calender {
    margin-top: 0px !important;
}

.calender ul > li > a {
    padding: 4px 5px !important;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}

div.field, div.actions {
    margin: 20px 0 !important;
}

label, input, button, select, textarea {
    font-size: 17px !important;
}

input[type="search"] {
    margin-bottom: 0px !important;
}

.input-xxlarge {
  width: 450px !important;
}

.select-large {
  width: 500px;
}

footer {
    width: 100%;
    text-align: center;
}

/* common style sheet */
body {
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif ,monospace !important;
    /* font-family:"メイリオ", Meiryo,  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important; */
}

div.right {
    float: right;
    width: 49%;
    padding-left: 1%;
}

div.left {
    float: left;
    width: 49%;
    padding-right: 1%;
}

div.clear {
    clear: both;
}

.padding-top {
    padding-top: 60px;
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}

.center {
    text-align:center !important;
}

.middle {
    vertical-align: middle !important;
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

li.none {
    list-style: none;
}

div.inline label {
    display: inline !important;
    vertical-align: top;
    line-height: 30px;
}