// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.sales {
    float: left;
    width: 80%;
    margin-left: 5%;
}

div.transfer_slip {
    float: left;
    margin-left: 10%;
}

.form {
    float: left;
    clear: both;
    width: 100%;
}

.driver_form {
    float: left;
    width: 20%;
}

.datetime_form {
    float: left;
    margin-left: 5%;
}

.meter_form {
    clear: left;
    float: left;
    width: 20%;
    margin-top: 50px;
}

.sales_form {
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-top: 50px;
}

.check_point_form {
    clear: left;
    float: left;
    margin-top: 50px;
}

div.inline {
    float: left;
    margin-right: 50px;
}