<div class="pagination calender">
  <ul>
    <% Date.today.year == params[:year].to_i && Date.today.month == params[:month].to_i ? last_day = Date.today.day : last_day = Date.new(params[:year].to_i, params[:month].to_i, -1).day %>

    <% for i in 1..last_day %>
      <% if Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "0" %>
        <li><%= link_to "#{i}日", "/#{controller.controller_path}/#{params[:id]}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).year}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).month}/#{i}", :class => "red" %></li>
      <% elsif Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "6" %>
        <li><%= link_to "#{i}日", "/#{controller.controller_path}/#{params[:id]}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).year}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).month}/#{i}", :class => "blue" %></li>
      <% else %>
        <li><%= link_to "#{i}日", "/#{controller.controller_path}/#{params[:id]}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).year}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).month}/#{i}" %></li>
      <% end %>
    <% end %>
  </ul>
</div>
